[defaults]
# 1. Definimos el inventario y usuario
inventory = ./inventory.ini
remote_user = candidate
host_key_checking = False

# 2. ELIMINACIÓN DEL ERROR DEL CALLBACK
# En lugar de usar 'yaml', usamos el plugin 'default' de ansible-core
stdout_callback = ansible.builtin.default
# Activamos los callbacks para comandos ad-hoc (como el ping)
bin_ansible_callbacks = True

# 3. SILENCIAR WARNINGS DE PYTHON
# Esto elimina los mensajes amarillos sobre el descubrimiento del intérprete
interpreter_python = auto_silent

roles_path = ./roles
forks = 5

# 4. CONFIGURACIÓN ESPECÍFICA DEL FORMATO YAML
[callback_default]
# Aquí es donde activamos el formato YAML que antes hacía el plugin externo
result_format = yaml

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
